* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #4d5159;
}

a:hover {
  color: #868b94;
}

header {
  margin: 0 150px;
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  margin: 0 auto;
}

.header-logo {
  width: 100px;
}

.header-menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.header-menu-item {
  color: #4d5159;
  margin: 10px;
}

.header-service {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 80px;
}

#search {
  width: 250px;
  height: 50px;
  background-color: #f2f3f6;
  color: #757575;
  border: 0;
  border-radius: 8px;
  padding: 0 10px;
  margin: 10px;
}

.header-chat-button {
  width: 70px;
  height: 30px;
  background-color: white;
  border: solid 1px;
  border-radius: 8px;
  text-align: center;
  padding: 5px 0;
  margin: 10px;
}

.main-first {
  width: 100%;
  height: 100%;
  background-color: #fffae0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-first-title {
  margin: 20px;
}

.main-first-text {
  margin: 20px;
  color: #7c7c7c;
}

.main-first-downloads {
  display: flex;
  flex-direction: row;
}

/* 각 body 파트 내 이미지 */
.mainImg {
  height: 700px;
  display: inline-block;
}

/* 각 body 파트 내 텍스트 */
.bodyContainer {
  text-align: left;
  /* width: 330px; */
  display: inline-block;
}

.bodyContainer > * {
  margin: 12px;
  line-height: 1.5;
  word-break: keep-all;
}

.bodyTitle {
  color: #fe6f0f;
  font-size: 18px;
}

.bodyDescripton {
  font-size: 38px;
}

.bodyDetail {
  color: #7c7c7c;
  font-size: 20px;
  width: 330px;
  margin-bottom: 40px; /*check: margin-bottom만 남고, top은 사라짐?*/
}

.grayButton {
  font-weight: bold;
  font-size: 17px;
  display: inline;
  background-color: #e9ebee;
  padding: 12px;
  margin-right: 5px;
  border-radius: 5px;
}

.grayButton:hover {
  background-color: #dcdcdc;
}

.iconBlock {
  display: inline-block;
  width: 130px;
  margin-right: 10px;
}

.iconBlock * {
  margin: 5px;
}

.iconImg {
  height: 55px;
}

.iconTitle {
  font-size: 14px;
}

.iconDetail {
  font-size: 12px;
  color: #7c7c7c;
}

/* body 배경색 및 요소 정렬*/
.bodyBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-first-button {
  width: 160px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: #ff6f0f;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-first-down-store {
  width: 90px;
  color: white;
  margin-left: 10px;
}

#body2 {
  background-color: #f9f9f9;
}

#body3 {
  background-color: #fff8f1;
}

#body4 {
  background-color: #f9f9f9;
}

#body5 {
  background-color: #f7fded;
}
